<style>
	body {
		font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), open sans, var(--base-sans-font);
	}
	p, .paragraph {
		font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), open sans, var(--base-sans-font);
	}
	.btn {
		font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), open sans, var(--base-sans-font);
	}
	.font-secondary {
		font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), hanskendrick, var(--base-sans-font) !important;
	}
	.pagination .page-item .page-link {
		font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), hanskendrick, var(--base-sans-font);
	}
	/* BGN: multilingual support */
		h1, h2, h3, h4, h5, h6 {
			font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font), hanskendrick, var(--base-sans-font);
		}
		h1:lang(zh-Hans), h2:lang(zh-Hans), h3:lang(zh-Hans), h4:lang(zh-Hans), h5:lang(zh-Hans), h6:lang(zh-Hans) {
			font-family: var(--notosans-font), "Noto Sans CJK SC", "Noto Sans SC", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
		}
		h1:lang(zh), h2:lang(zh), h3:lang(zh), h4:lang(zh), h5:lang(zh), h6:lang(zh),
		h1:lang(zh-Hant), h2:lang(zh-Hant), h3:lang(zh-Hant), h4:lang(zh-Hant), h5:lang(zh-Hant), h6:lang(zh-Hant) {
			font-family: var(--notosans-font), "Noto Sans CJK TC", "Noto Sans TC", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
		}
		h1:lang(ja), h2:lang(ja), h3:lang(ja), h4:lang(ja), h5:lang(ja), h6:lang(ja) {
			font-family: var(--notosans-font), "Noto Sans CJK JP", "Noto Sans JP", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
		}
		h1:lang(ko), h2:lang(ko), h3:lang(ko), h4:lang(ko), h5:lang(ko), h6:lang(ko) {
			font-family: var(--notosans-font), "Noto Sans CJK KR", "Noto Sans KR", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
		}
		article, header, footer, li, p, a,
		.content {
			font-family: var(--notosans-font), var(--notosans-hebrew-font), var(--notosans-baybayin-font);
		}
		article:lang(zh-Hans), header:lang(zh-Hans), footer:lang(zh-Hans), li:lang(zh-Hans), p:lang(zh-Hans), a:lang(zh-Hans),
		.content:lang(zh-Hans) {
			font-family: var(--notosans-font), "Noto Sans CJK SC", "Noto Sans SC", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
		}
		article:lang(zh), header:lang(zh), footer:lang(zh), li:lang(zh), p:lang(zh), a:lang(zh),
		.content:lang(zh),
		article:lang(zh-Hant), header:lang(zh-Hant), footer:lang(zh-Hant), li:lang(zh-Hant), p:lang(zh-Hant), a:lang(zh-Hant),
		.content:lang(zh-Hant) {
			font-family: var(--notosans-font), "Noto Sans CJK TC", "Noto Sans TC", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
		}
		article:lang(ja), header:lang(ja), footer:lang(ja), li:lang(ja), p:lang(ja), a:lang(ja),
		.content:lang(ja) {
			font-family: var(--notosans-font), "Noto Sans CJK JP", "Noto Sans JP", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
		}
		article:lang(ko), header:lang(ko), footer:lang(ko), li:lang(ko), p:lang(ko), a:lang(ko),
		.content:lang(ko) {
			font-family: var(--notosans-font), "Noto Sans CJK KR", "Noto Sans KR", var(--notosans-hebrew-font), var(--notosans-baybayin-font);
		}
	/* END: multilingual support */

	.fa {
		font-family: ForkAwesome;
	}
	[class*=" ti-"], [class^="ti-"] {
		font-family: themify;
	}
	header > nav img.img-fluid {
		max-width: 170px;
	}
	body div.featured-post-slider article.card img.card-img {
		filter: blur(2px);
		height: 250px;
		max-height: 250px;
		object-fit: cover;
		object-position: top;
	}
	body div.featured-post-slider article.card div.card-img-overlay div.card-content {
		color: hsla(0deg, 0%, 100%, 100%);
		color: hwb(0deg 100% 0% / 100%);
		text-shadow:  1px  1px 0   hsla(211deg, 97%, 65%, 100%),
								 -1px -1px 0   hsla(211deg, 97%, 65%, 100%),
									1px -1px 0   hsla(211deg, 97%, 65%, 100%),
								 -1px  1px 0   hsla(211deg, 97%, 65%, 100%),
									4px  4px 8px hsla(212deg, 51%, 35%, 100%),
								 -4px  4px 8px hsla(212deg, 51%, 35%, 100%),
									4px -4px 8px hsla(212deg, 51%, 35%, 100%),
								 -4px -4px 8px hsla(212deg, 51%, 35%, 100%);
		text-shadow:  1px  1px 0   hwb(211deg 30%  1% / 100%),
								 -1px -1px 0   hwb(211deg 30%  1% / 100%),
									1px -1px 0   hwb(211deg 30%  1% / 100%),
								 -1px  1px 0   hwb(211deg 30%  1% / 100%),
									4px  4px 8px hwb(212deg 17% 46% / 100%),
								 -4px  4px 8px hwb(212deg 17% 46% / 100%),
									4px -4px 8px hwb(212deg 17% 46% / 100%),
								 -4px -4px 8px hwb(212deg 17% 46% / 100%);
	}
	html > body .nowplayingcard {
		--box-shadow-color: rgba(255, 0, 120, 1) !important;
	}
	html > body .nowplayingcard .trackInfo #tracktitle,
	html > body .nowplayingcard .trackInfo #trackalbum,
	html > body .nowplayingcard .trackInfo #trackartist {
		color: rgba(255, 0, 120, 0.7) !important;
	}
</style>
